<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.MinNiCup.lfmpbackend.mapper.ConsultMapper">


    <select id="selectConsumerConsultByConsumer"
            resultType="com.MinNiCup.lfmpbackend.pojo.dto.result.ConsumerConsultResult">
        select c.id as consultId , ui.name as name, ui.phone as phone, ui.address as address, c.data, c.is_reply as isReply
        from consult c
        left join user_info ui on c.lawyer_id = ui.user_id
        where c.consumer_id = #{consumerId,jdbcType=INTEGER}
            and c.model = #{model,jdbcType=INTEGER}
    </select>

    <select id="selectLawyerConsultByLawyer"
            resultType="com.MinNiCup.lfmpbackend.pojo.dto.result.LawyerConsultResult">
        select c.id as consultId, ui.name as name, ui.phone as phone, c.data as data, c.is_reply as isReply
        from consult c
                 left join user_info ui on c.consumer_id = ui.user_id
        where c.lawyer_id = #{lawyerId,jdbcType=INTEGER}
          and c.model = #{model,jdbcType=INTEGER}
          and c.is_reply &lt;&gt; 2
    </select>
</mapper>
